{% extends "base.html" %}

{% block banner %}Authentication / URL{% end %}

{% block body %}
    
    <ol>
        <li>Sort your parameters by key name, so that:
        	<textarea readonly="true" class="boxhighlight" rows="{{ len(params) }}">{% for key, value in params.iteritems() %}{% if key != "api_sig" %}{{ key }}={{ value }}
        	    {% end %}{% end %}</textarea>
        	becomes:
        	<textarea readonly="true" class="boxhighlight" rows="{{ len(params) }}">{% for value in sorted_params %}{{ value }}
    {% end %}</textarea>
        </li>
        <li>Construct a string with all key/value pairs concatenated together: 
        	<textarea readonly="true" class="boxhighlight" rows="{{ len(concat_params) / 50 }}">{{ concat_params }}</textarea>
        </li>
        <li>Concatenate the previous result onto your shared secret:  
        	<textarea readonly="true" class="boxhighlight" rows="{{ len(secret_params) / 50 }}">{{ secret_params}}</textarea>
        </li>
        <li>Calculate the MD5 hash of this string: 
        	<textarea readonly="true" class="boxhighlight">{{ api_sig }}</textarea>
        </li>
        <li>Create the URL: 
        	<p class="boxhighlight" ><a href="{{ url }}" target="_blank">{{ url }}</a></p>
        </li>
    </ol>
    
    <p> </p>
    
    <p>After clicking on the above URL and logging into your Remember the Milk account and authorizing your API application, you will need to <a href="/auth/token/">request an auth token</a>.</p>
{% end %}