<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Milk API</title>
	
	<link rel="stylesheet" href="{{ static_url("css/reset.css") }}" type="text/css" />
	<link rel="stylesheet" href="{{ static_url("css/style.css") }}" type="text/css" />
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
	<script type="text/javascript" src="{{ static_url("js/form.jquery.js") }}"></script>
	
	{% block head %}{% end %}
</head>

<body>
    <div id="header">
	    <div class="content">
	    	<div id="logo">
	    		<a href="/">
	    			<img src="{{ static_url("img/milkapi.png") }}" alt="Milk API logo" />
	    		</a>
	    	</div>
	    	<div id="nav">
		    	<ul>
		    		<li><a href="/">Home</a></li>
		    		<li><a href="/settings/">Settings</a></li>
		    		<li><a href="/auth/">Authentication</a></li>
		    		<li><a href="/methods/">API Methods</a></li>
		    	</ul>
	    	</div>
    	</div>
    </div>
    <div id="banner">
    	<div class="content">
    		<h1>{% block banner%}{% end %}</h1>
    	</div>
    </div>
    <div id="content">
	    <div class="content">
		    {% block body %}{% end %}
	    </div>
	    
	    <div id="footer">
	    	<div class="content">
	    		<p class="center">&copy; 2010 <a href="http://emerick.org">Jason Emerick</a> | <a href="/tos/">Terms of Use</a> | <a href="/privacy/">Privacy Policy</a> | <a href="mailto:jemerick+milkapi@gmail.com">Contact Us</a></p>
	    		<p class="center">This product uses the Remember The Milk API but is not endorsed or certified by <a href="http://rememberthemilk.com">Remember The Milk</a>.</p>
	    	</div>
	    </div>
    	
    </div>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-139752-8");
    pageTracker._trackPageview();
    } catch(err) {}</script>
</body>
</html>

